%div.row-fluid
  %ul.breadcrumb.remove-border
    %li
      %a(href="#") Activity
%hr.main-header-partition
%div.row-fluid#activity
  %div(style = "background-color: gray; float: left; height: 150px; width: 100px; margin: 5px;")
  %div(style = "background-color: gray; float: left; height: 100px; width: 100px; margin: 5px;")
  %div(style = "background-color: gray; float: left; height: 200px; width: 170px; margin: 5px;")
  %div(style = "background-color: gray; float: left; height: 100px; width: 200px; margin: 5px;")
  %div(style = "background-color: gray; float: left; height: 150px; width: 100px; margin: 5px;")
  %div(style = "background-color: gray; float: left; height: 160px; width: 130px; margin: 5px;")
  %div(style = "background-color: gray; float: left; height: 180px; width: 100px; margin: 5px;")
  %div(style = "background-color: gray; float: left; height: 200px; width: 190px; margin: 5px;")
  %div(style = "background-color: gray; float: left; height: 250px; width: 100px; margin: 5px;")
  %div(style = "background-color: gray; float: left; height: 190px; width: 110px; margin: 5px;")


