%div.row-fluid
  %ul.breadcrumb.remove-border
    %li
      %a(href="#") Activity
%hr.main-header-partition
%div.row-fluid#activity
  %div.act-reading-big
    %div.activity-topic
      Sethu uploaded a book.... 
    %div.activity-user
      %img(src="img/user3.jpg" alt="Kumar Ishan")
    %div.activity-detail
      %img.book-pic-medium(src="img/book5.jpg" alt="Lord Of the Rings")
      %div.activity-book-name
        Brisingr, Inheritence Cycle
      %div.activity-book-author
        Christopher Paolini
      %div.activity-book-description
        Following the colossal battle against the Empire’s warriors on the Burning Plains, Eragon and his dragon, Saphira, have narrowly escaped with their lives. Still there is more at hand for the Rider and his dragon, as Eragon finds himself bound by a tangle of promises he may not be able to keep.
  %div.act-liked-med
    %div.activity-topic
      Neeraj liked this book.... 
    %div.activity-user
      %img(src="img/user2.jpg" alt="Kumar Ishan")
    %div.activity-detail
      %img.book-pic-medium(src="img/book9.jpg" alt="Lord Of the Rings")
      %div.activity-book-name
        Harry Potter and the Order of Pheonix
      %div.activity-book-author
        J K Rowling
  %div.act-shared-med
    %div.activity-topic
      Ayush shared a book.... 
    %div.activity-user
      %img(src="img/user4.jpg" alt="Kumar Ishan")
    %div.activity-detail
      %img.book-pic-medium(src="img/book2.jpg" alt="Lord Of the Rings")
      %div.activity-book-name
        Lord of the Rings
      %div.activity-book-author
        E R R Tolkien
  %div.act-new
    %div.act-arrival-hd
      New Arrivals in Fantasy
    %div.act-arrival-book-list
      %div.act-arrival-book
        %div.act-arrival-book-img 
          %a
            %img(src="img/book1.jpg" alt="Lord of the Rings")
        %div.act-arrival-book-name
          Lord of the Rings
        %div.act-arrival-book-author
          E R R Tolkien
      %div.act-arrival-book
        %div.act-arrival-book-img 
          %a
            %img(src="img/book3.jpg" alt="Lord of the Rings")
        %div.act-arrival-book-name
          Lord of the Rings
        %div.act-arrival-book-author
          E R R Tolkien
      %div.act-arrival-book
        %div.act-arrival-book-img 
          %a
            %img(src="img/book2.jpg" alt="Lord of the Rings")
        %div.act-arrival-book-name
          Lord of the Rings
        %div.act-arrival-book-author
          E R R Tolkien
      %div.act-arrival-book
        %div.act-arrival-book-img 
          %a
            %img(src="img/book5.jpg" alt="Lord of the Rings")
        %div.act-arrival-book-name
          Lord of the Rings
        %div.act-arrival-book-author
          E R R Tolkien
  %div.act-new
    %div.act-arrival-hd
      New Arrivals in Fantasy
    %div.act-arrival-book-list
      %div.act-arrival-book
        %div.act-arrival-book-img 
          %a
            %img(src="img/book1.jpg" alt="Lord of the Rings")
        %div.act-arrival-book-name
          Lord of the Rings
        %div.act-arrival-book-author
          E R R Tolkien
      %div.act-arrival-book
        %div.act-arrival-book-img 
          %a
            %img(src="img/book3.jpg" alt="Lord of the Rings")
        %div.act-arrival-book-name
          Lord of the Rings
        %div.act-arrival-book-author
          E R R Tolkien
      %div.act-arrival-book
        %div.act-arrival-book-img 
          %a
            %img(src="img/book2.jpg" alt="Lord of the Rings")
        %div.act-arrival-book-name
          Lord of the Rings
        %div.act-arrival-book-author
          E R R Tolkien
      %div.act-arrival-book
        %div.act-arrival-book-img 
          %a
            %img(src="img/book5.jpg" alt="Lord of the Rings")
        %div.act-arrival-book-name
          Lord of the Rings
        %div.act-arrival-book-author
          E R R Tolkien
  %div.act-comm-suggestion
    %div.activity-topic
      Top book in Harry Potter community
    %div.activity-user
      %img(src="img/user6.jpg" alt="Kumar Ishan")
    %div.activity-detail
      %img.book-pic-medium(src="img/book7.jpg" alt="Lord Of the Rings")
      %div.activity-book-name
        Harry Potter and Deathly Hallows
      %div.activity-book-author
        J K Rowling
  %div.act-new-community
  %div.act-new-community
  %div.act-reading
  %div.act-reading
