%div.row-fluid
  %ul.breadcrumb.remove-border
    %li
      %a(href="#") Activity
%hr.main-header-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user-small.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Kumar Ishan commented on this book
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/user.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Lord of the Rings
            %div.activity-book-author
              E R R Tolkien
            %div.activity-book-description
              The book is about one ring with power to rule everyone.
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small This book is awesome...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small A must read..
%hr.activity-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user-small.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Kumar Ishan commented on this book
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/user.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Lord of the Rings
            %div.activity-book-author
              E R R Tolkien
            %div.activity-book-description
              The book is about one ring with power to rule everyone.
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small This book is awesome...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small A must read..
%hr.activity-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user-small.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Kumar Ishan commented on this book
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/user.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Lord of the Rings
            %div.activity-book-author
              E R R Tolkien
            %div.activity-book-description
              The book is about one ring with power to rule everyone.
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small This book is awesome...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small A must read..
%hr.activity-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user-small.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Kumar Ishan commented on this book
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/user.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Lord of the Rings
            %div.activity-book-author
              E R R Tolkien
            %div.activity-book-description
              The book is about one ring with power to rule everyone.
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small This book is awesome...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small A must read..
%hr.activity-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user-small.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Kumar Ishan commented on this book
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/user.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Lord of the Rings
            %div.activity-book-author
              E R R Tolkien
            %div.activity-book-description
              The book is about one ring with power to rule everyone.
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small This book is awesome...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img(src="img/user-small.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small A must read..

