%div.row-fluid
  %ul.breadcrumb.remove-border
    %li
      %a(href="#") Activity
%hr.main-header-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user3.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Sethu uploaded this book...
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/book5.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Brisingr, Inheritence Cycle
            %div.activity-book-author
              Christopher Paolini
            %div.activity-book-description
              The book is about one ring with power to rule everyone.
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user2.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small This book is awesome...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user5.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small A must read..
%hr.activity-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user4.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Ayush Aggarwal shared this book
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/book1.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Lord of the Rings
            %div.activity-book-author
              E R R Tolkien
            %div.activity-book-description
              The book is about one ring with power to rule everyone.
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user1.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small nice one...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user2.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small Yeah ! i too liked it...
%hr.activity-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user2.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Neeraj commented on this book
          %p 
            U gotta read this...
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/book3.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Lord of the Rings
            %div.activity-book-author
              E R R Tolkien
            %div.activity-book-description
              The book is about one ring with power to rule everyone.
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user2.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small This book is awesome...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user5.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small Read long time ago..
%hr.activity-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user5.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Giri shared this book
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/book8.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Harry Potter Sorcerer's Stone
            %div.activity-book-author
              J K Rowling
            %div.activity-book-description
              A story of wizzard boy who was the only one to survive...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user5.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small I liked it too...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user3.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small Thanks for this..
%hr.activity-partition
%div.row-fluid
  %div.activity-feed    
    %div.activity-container
      %div.activity-user
        %img(src="img/user1.jpg" alt="Kumar Ishan")
      %div.activity-detail
        %div.row-fluid
          Kumar Ishan commented on this book
        %div.row-fluid.activity-book-topic
          %div.activity-book-image
            %a
              %img.book-pic-medium(src="img/book9.jpg" alt="Lord Of the Rings")
          %div.activity-book-detail
            %div.activity-book-name
              Lord of the Rings
            %div.activity-book-author
              E R R Tolkien
            %div.activity-book-description
              The book is about one ring with power to rule everyone.
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user3.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small This book is awesome...
        %div.row-fluid.activity-book-comment
          %div.activity-comment-user
            %img.user-small(src="img/user5.jpg" alt="Kumar Ishan")
          %div.activity-comment
            %small A must read..

