%div.row-fluid
  %ul.breadcrumb
    %li
      %a(href="#") Fantasy
%hr.main-header-partition
%div.row-fluid
  %div.container-fluid.search-result-container
    %div.row-fluid.search-result-row
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book1.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a.search-extra-info(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book2.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book3.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book4.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Eragon, Inheritence Cycle
        %div.search-book-author
          Christopher Paolini
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
    %div.row-fluid.search-result-row
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book5.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Brisingr, Inheritence Cycle
        %div.search-book-author
          Christopher Paolini
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book6.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Eragon and Eldest, Inheritence Cycle
        %div.search-book-author
          Christopher Paolini
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book7.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Harry Potter and the Deathly Hallows
        %div.search-book-author
          J K Rowling
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book8.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Harry Potter and Sorcerors Stone
        %div.search-book-author
          J K Rowling
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
    %div.row-fluid
      %ul.breadcrumb
        %li
          %a(href="#") Favorites
    %hr.main-header-partition
    %div.row-fluid.search-result-row
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book9.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Harry Potter and the Order of Pheonix
        %div.search-book-author
          J K Rowling
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book10.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Harry Potter and the Half Blood Prince
        %div.search-book-author
          J K Rowling
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book11.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Harry Potter and the Goblet of Fire
        %div.search-book-author
          J K Rowling
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book2.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
    %div.row-fluid.search-result-row
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book1.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book3.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book4.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Eragon Inheritence Cycle
        %div.search-book-author
          Christopher Paolini
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/book5.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Brisingr Inheritence Cycle
        %div.search-book-author
          Christopher Paolini
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
