%div.row-fluid
  %ul.breadcrumb.bookshelf-name
    %li
      %a#bookshelf-heading(href="#") Fantasy
%div.row-fluid
  %div.container-fluid.bookshelf-result-container
    %div.row-fluid.bookshelf-result-row
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book1.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Lord of the Rings
        %div.bookshelf-book-author
          E R R Tolkien
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a.bookshelf-extra-info(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book2.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Lord of the Rings
        %div.bookshelf-book-author
          E R R Tolkien
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book3.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Lord of the Rings
        %div.bookshelf-book-author
          E R R Tolkien
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book4.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Eragon, Inheritence Cycle
        %div.bookshelf-book-author
          Christopher Paolini
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
    %div.row-fluid.bookshelf-result-row
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book5.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Brisingr, Inheritence Cycle
        %div.bookshelf-book-author
          Christopher Paolini
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book6.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Eragon and Eldest, Inheritence Cycle
        %div.bookshelf-book-author
          Christopher Paolini
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book7.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Harry Potter and the Deathly Hallows
        %div.bookshelf-book-author
          J K Rowling
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book8.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Harry Potter and Sorcerors Stone
        %div.bookshelf-book-author
          J K Rowling
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
    %div.row-fluid( style="padding-top: 25px;" )
      %ul.breadcrumb.bookshelf-name
        %li
          %a(href="#") Favorites
    %div.row-fluid.bookshelf-result-row
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book9.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Harry Potter and the Order of Pheonix
        %div.bookshelf-book-author
          J K Rowling
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book10.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Harry Potter and the Half Blood Prince
        %div.bookshelf-book-author
          J K Rowling
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book11.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Harry Potter and the Goblet of Fire
        %div.bookshelf-book-author
          J K Rowling
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book2.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Lord of the Rings
        %div.bookshelf-book-author
          E R R Tolkien
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
    %div.row-fluid.bookshelf-result-row
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book1.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Lord of the Rings
        %div.bookshelf-book-author
          E R R Tolkien
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book3.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Lord of the Rings
        %div.bookshelf-book-author
          E R R Tolkien
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book4.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Eragon Inheritence Cycle
        %div.bookshelf-book-author
          Christopher Paolini
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
            %i.icon-chevron-down.icon-white
      %div.bookshelf-result-item 
        %div
          %a
            %img.bookshelf-book-image(src="img/book5.jpg" alt="Lord of the Rings")
        %div.bookshelf-book-name
          Brisingr Inheritence Cycle
        %div.bookshelf-book-author
          Christopher Paolini
        %div.bookshelf-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full.icon-white
          %a(href="#" title="Download")
            %i.icon-download.icon-white
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book.icon-white
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark.icon-white
          %a(href="#" title="Show more info")
