%html
  %head
    %link(rel="stylesheet" type="text/css" href="css/bootstrap.css")
    :css
      body {
        padding-top: 40px;
        padding-botton: 40px;
      }
      .sidebar-nav {
        padding: 9px 0px 10px 0;
      }
      .container-fluid {
        padding-left: 250px;
        padding-right: 250px;
      }

    %link(rel="stylesheet" type="text/css" href="css/bootstrap-responsive.css")

    :css
      .container-940 {
        width:940px;
      }
      .container-780 {
        height: 780px;
      }
      .sidebar{
        margin-top: -10px;
        width: 200px;
      }
      .well {
        height: 100%;
        border-radius: 0px;
        -moz-border-radius: 0px;
      }
      .search-query {
        height: 28px;
      }
      .main-content {
        width: 740px;
        margin-left: 0px;
        margin-top: -10px;
      }
      .footer-hr {
        margin-top: 0px;
      }
      .adjust-padding-bottom {
        padding-bottom: 15px;
      }
      .remove-margin-bottom {
        margin-bottom: 0px;
      }
      .nav-list > li > a,
      .nav-list .nav-header {
        padding: 5px 37px;
      }
      .profile-pic-container {
        padding: 10px 10px 10px 0px;
      } 
      .profile-pic {
        height: 125px;
        width: 125px;
        overflow:hidden;
      }
      .user-info {
        font-style: normal;
        font-size: 13px;
        padding: 6px 37px 6px 21px;
      }
      dep {
        font-size: 10px;
      }
      year {
        font-size: 10px;
      }
      .sidebar-count {
        margin-right: -12px;
        float: right;
      }
      .navbar .app-logo {
        font-weight: bold;
      }
      .transparent {
        background: url(img/wash-white-30.png);
      }
      .inside-main{
        margin: 0px;
        padding: 1px;
        position: relative;
      }
      .encap-main {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 20px;
      }
      .inside-container {
        margin: 0px;
        padding: 0px;
      }
      hr {
        border-color: gray;
      }
      .breadcrumb {
        margin-bottom: 5px;
      }
      .main-header-partition {
        margin: 5px;
      }
      .book-pic-medium {
        height: 100px;
        width: 75px;
      }
      .activity-feed {
        margin: 2px 2px 10px 6px;
      }
      .activity-container {
        display: block;
      }
      
      .activity-book-topic { 
        margin: 1px 1px 8px 1px;
      }
      .activity-user {
        float: left;
        margin-right: 10px;
      }
      .activity-detail {
        float: left; 
      }
      .activity-book-image {
        border-left: 5px solid gray;
        padding-left: 5px;
        float: left;
      }
      .activity-book-detail {
        padding: 0px 0px 0px 8px;  
        float: left;
      }
      .activity-book-name {
        font: bold 15px arial,sans-serif;
        color: #04070B;
      }
      .activity-book-author {
        margin-left: 4px;
        font-style: italic;
        font-type: arial,sans-serif;
        color: #1F3D5C;
      }
      .activity-book-description {
        margin-left: 4px;
        font-style: italic;
        font-type: arial,sans-serif;
        color: #1F3D5C;
      }
      .activity-book-comment {
        width: 50%;
        display: block;
        margin-left: 20px;
        margin-bottom: 2px;
        background-color: #EEEEEC;
        padding: 2px;
        color: #1F3D5C;
      }
      .activity-comment-user {
        display: block;
        float: left;
      }
      .activity-comment {
        display: block;
        float: left;
        padding-left: 5px;
      }
      .activity-partition {
        margin: 5px;
        border-color: #DEE8E8;
      }
      .main-content-fixed-layout {
        padding-bottom: 790px;
        margin-bottom: -800px;
      }
      .search-box {
        display: block;
        float: left;
        height: 30px;
        width: 100%
      }
      .search-form {
        padding:19px;
        min-height: 20px;
        background-color: whiteSmoke;
        height: 100%;
      }
      .remove-border {
        border: none;
      }
      .remove-border-radius {
        border-radius: 0;
      }
      .search-partition {
        margin: 40px 5px 5px 5px;
        border-color: #DEE8E8;
      }
      .search-result-container {
        padding: 0px;
      }
      .search-result-row {
        padding: 0px 12px 0px 12px;
        width: auto;
      }
      .search-result-item {
        float: left;
        width: 152px;
        height: 180px;
        margin: 10px 5px 5px 5px;
        padding: 10px 5px 10px 5px;
      }
      .search-book-image {
        margin-left: 24px;
        height: 140px;
      }
      .search-book-name {
        font: bold auto arial,sans-serif; 
        color: #04070B;
        text-align: center;
      }
      .search-book-author {
        font-style: italic;
        color: #1F3D5C;
        text-align:center;
      }
      .search-item-extras {
        display: none;
      }
      .search-result-item:hover > div.search-item-extras {
        display: block;
      }
      .search-item-extras {
        text-align: center;
        letter-spacing: 6px;
      }
      .search-item-extras:hover > a {
        opacity: 0.5;
      }
      .search-item-extras:hover > a:hover {
        opacity: 1.0;
      }
      #search-detail {
        position:absolute;
        display:none;
        z-index:10;
        opacity: 1.0;
        background-color: gray;
      }
    %script(src="js/jquery.js" type="text/javascript")
    %script(src="js/bootstrap-dropdown.js" type="text/javascript")
    %script(src="js/json2.js" type="text/javascript")
    %script(src="js/underscore.js" type="text/javascript")
    %script(src="js/backbone.js" type="text/javascript")
    %script(src="js/echo.js" type="text/javascript")    

  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container.container-940
          %a.btn.btn-navbar(data-toggle="collapse"  data-target=".nav-collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand.app-logo(href="#") Echo
          %div.nav-collapse.in.collapse
            %ul.nav
              %li
                %a(href="#") 
                  %i.icon-home.icon-white
                  Home
              %li
                %a(href="#")
                  %i.icon-book.icon-white
                  Bookshelf
              %li
                %a(href="#")
                  %i.icon-comment.icon-white
                  Suggestions
              %li
                %a(href="#")
                  %i.icon-bookmark.icon-white
                  Reading List
              %li
                %a(href="#")
                  %i.icon-envelope.icon-white
                  Activity
            %form.navbar-search.pull-left
              %input.search-query.span2(placeholder="Search" type="text")  
            %ul.nav.pull-right
              %li.dropdown
                %a.dropdown-toggle(href="#" data-toggle="dropdown")
                  %i.icon-cog.icon-white
                  %b.caret
                %ul.dropdown-menu
                  %li
                    %a(href="#")
                      Profile
    %div.container.container-940.container-780#container
      %div.row
        %div.span3.sidebar
          %div.well.adjust-padding-bottom.sidebar-nav.remove-margin-bottom
            %ul.nav.nav-list#sidebar
              %li.profile-pic-container
                %a.profile-pic(href="#")
                  %img(src="img/user.jpg" alt="Kumar Ishan")
              %li.user-info
                %strong Kumar Ishan  
                %br
                %dep Computer Science Engineering
                %br
                %year 4th Year
              %hr
              %li
                %a#sb-activity(href="#")
                  %i.icon-envelope
                  Activity        
                  %div.sidebar-count
                    %span.label.label-info 15
              %li
                %a#sb-search(href="#")
                  %i.icon-search 
                  Search
              %li
                %a#sb-suggestions(href="#")
                  %i.icon-comment 
                  Suggestions
                  %div.sidebar-count
                    %span.label.label-info 10 
              %li
                %a#sb-bookshelf(href="#")
                  %i.icon-book 
                  Bookshelf
                  %div.sidebar-count
                    %span.label.label-info 8
              %li
                %a#sb-readinglist(href="#")
                  %i.icon-bookmark 
                  Reading List
                  %div.sidebar-count
                    %span.label.label-info 5
              %li
                %a#sb-communities(href="#")
                  %i.icon-glass 
                  Communities
                  %div.sidebar-count
                    %span.label.label-info 7
              %li
                %a#sb-friends(href="#")
                  %i.icon-heart 
                  Friends
                  %div.sidebar-count 
                    %span.label.label-info 100
              %li
                %a#sb-history(href="#")
                  %i.icon-time 
                  History
        %div.span5.main-content
          %div.well.adjust-padding-bottom.remove-margin-bottom.transparent.encap-main
            %div.well.inside-main
              %div.container-fluid.inside-container#main-content         
      %hr.footer-hr
      %footer
        %p@ SDSLabs 2012     
