%div.row-fluid
  %ul.breadcrumb.remove-border
    %li
      %a(href="#") Search
%hr.main-header-partition
%div.row-fluid
  %div.search-box
    %form.search-form.form-search
      %input.input-medium.search-query.span8.remove-border-radius(type="text")
      %button.btn.remove-border-radius(type="submit")
        Search
%hr.search-partition
%div.row-fluid
  %div.container-fluid.search-result-container
    %div.row-fluid.search-result-row
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a.search-extra-info(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
    %div.row-fluid.search-result-row#search-detail
      %div
      
    %div.row-fluid.search-result-row
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
    %div.row-fluid.search-result-row
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
    %div.row-fluid.search-result-row
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
      %div.search-result-item 
        %div
          %a
            %img.search-book-image(src="img/user.jpg" alt="Lord of the Rings")
        %div.search-book-name
          Lord of the Rings
        %div.search-book-author
          E R R Tolkien
        %div.search-item-extras
          %a(href="#" title="View Book")
            %i.icon-resize-full
          %a(href="#" title="Download")
            %i.icon-download
          %a(href="#" title="Add to Bookshelf")
            %i.icon-book
          %a(href="#" title="Add to Reading List")
            %i.icon-bookmark
          %a(href="#" title="Show more info")
            %i.icon-chevron-down
