!!! XML
!!!
%html{:xmlns => "http://www.w3.org/1999/xhtml", "xml:lang" => "en", :lang => "en"}
  %head 
    %title Echo
  %body
    %div#topBar.topbar
      %div.fill
        %div.container
          %a.brand{:href => '/'}
          %div.clearfix
            %label{:for => "prependedInput"} 
              %span#logo Echo! %sup @
            %div.input
              %div.input-prepend
                %span.add-on @
                %input.medium#prependedInput{:name => "prependedInput", :size="16", :type="text"}
    
    %div#mainContainer.container-fluid
      %div#detailContainer.sidebar
        %div.row
          %div.span16
            %h4 Book Details
            %dl
              %dt 
              %dd#detail-cover
                %img{:src => "http://bks3.books.google.co.in/books?id=FKziXsnqLTEC&printsec=frontcover&img=1&zoom=1" }
              %dt Title
              %dd#detail-book-name The Lord Of the Rings
              %dt Author
              %dd#detail-author J R R Tolkien
              %dt Publisher
              %dd#detail-publisher HaperCollins Publisher, 2009
              %dt 
              %dd#detail-other-info Pages: 1216 
              %dt Categories
              %dd#detail-categories Fiction Fantasy Epic
              %dt Summary
              %dd#detail-summary 
                %p Sauron, the Dark Lord, has gathered to him all the Rings of Power – the means by which he intends to rule Middle-earth. All he lacks in his plans for dominion is the One Ring – the ring that rules them all – which has fallen into the hands of the hobbit, Bilbo Baggins.

In a sleepy village in the Shire, young Frodo Baggins finds himself faced with an immense task, as the Ring is entrusted to his care. He must leave his home and make a perilous journey across the realms of Middle-earth to the Crack of Doom, deep inside the territories of the Dark Lord. There he must destroy the Ring forever and foil the Dark Lord in his evil purpose.


      %div.content
        %div#resultContainer.row
          %div#searchResults.span11
            %div.row
              %div.span3
                %img{ :src => "http://bks3.books.google.co.in/books?id=FKziXsnqLTEC&printsec=frontcover&img=1&zoom=1"} 
              %div.span8
                %ol.search-result-list
                  %li.search-result-entry
                    %div
                      %h3.result-title
                      %a#sdf890d8s09fasd{ :href => "#"}
                        %em The Lord Of the Rings
                    %div.search-result-description
                      %table.desc-table
                        %tbody
                          %tr
                            %td.desc
                              %a{:href = "#" }
                            %td{ :valign => "top", :style=>"padding-left: 7px" }
                              %div
                                %span.search-other-info
                                  J R R Tolkien
                                %br
                                %table
                                  %tbody
                                    %tr
 				      %td
                                        %span.search-summary
All three parts of the epic masterpiece ‘The Lord of the Rings’ in one paperback. Features brand new packaging, the definitive edition of the text, fold-out flaps with the original two-colour maps, and a revised and expanded index.     
                                        
          %div#recommendationResults.span5
         
        %hr
        %footer
          %p SDSLabs 2011
    
    %div.extLives 



