%div.row
- @result.each do |res|
  %div.span3
    %dl
      %dd
        %img{ :src => "#{res['icon']}" }
      %dt= res['title']
      %dt= res['author']
      %dd= res['Description']
      <button data-controls-modal="book-modal" data-backdrop="true" data-keyboard="true" class="btn primary" onmousedown="window.mousetarget = this;" id="book.pdf">View</button>
      %a.btn.success{:href => "book.pdf"} Download
